body{
	background-image: url(awan1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: black;
}



.input-group{
	margin: 1em auto;
	max-width: 500px;
}

.container{
	text-align: center;
}
/*
img{
	height:150px;
	width: 150px;
}*/

.temp{
	font-size: 4em;
}

.description{
	font-size: 2em;
}

.city-name{
	letter-spacing: 4px;
	text-transform: uppercase;
}

.weather-info{
	display: none;
}